body {
  background-color: white; 
  color: black;
  font-family: monospace;
  font-size: 14px;
  width: 80ch;
  margin:0 auto;
}
a {
  color: black;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a.external {
  font-weight: bold;
}
pre {
  margin-top: 0;
  white-space: pre-wrap;   /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;  /* Opera 4-6 */
  white-space: -o-pre-wrap;/* Opera 7 */
  word-wrap: break-word;   /* Internet Explorer 5.5+ */
}
h1 {
  font-family: monospace;
  font-size: 17px;
  margin: 0;
}
h2 {
  font-family: monospace;
  font-size: 15px;
  margin: 0;
}
h3 {
  font-family: monospace;
  font-size: 14px;
  margin: 0;
}